
@{
    ViewBag.Title = "Maps";
}

<!DOCTYPE html>
<html>
<head>
    <title>My map</title>
    <link href="~/Content/tomtomsdk/map.css" rel="stylesheet" />
    <script src="~/Content/tomtomsdk/tomtom.min.js"></script>
    <style>
        #map {
            height: 500px;
            width: 500px;
        }
    </style>
</head>
<body>
    <h2>Maps</h2>
    <div id='map'></div>

    <script>
        var map = tomtom.L.map('map', {
            key: '7MHaIyzmWO124c9GU02OAGJPvcpyMtwo',
            basePath: 'sdk',
            center: [@ViewBag.Latitude, @ViewBag.Longitude],
            zoom: 16,
        });

        var marker = tomtom.L.marker([@ViewBag.Latitude, @ViewBag.Longitude]).addTo(map);
        marker.bindPopup('The Gray Family');

    </script>
</body>
</html>


