body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Style from carousel by Pete*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/*Style User Rating*/
.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starFade {
    background-image: url('/Images/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/Images/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}

.starGlow {
    background-image: url('/Images/starglow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/Images/starglow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}

/*Service button styling*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button.button.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Map Style*/
div#map {
    height: 400px;
    width: 1000px;
}
.my-div-icon {
    height: 20px !important;
    width: 20px !important;
    background-color: yellow;
    border-radius: 50%;
    border-color: blue;
    border: 2px solid blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9999;
}
/*pete style navbar loginregister*/
#registerLink{
    margin-left:15px;
    margin-right:15px;
}
li#login{
    margin-top:7px;
}
.dropdown{
    margin-left:15px;
}

/*pete customer page custome style*/

.serviceBttn{
    display:flex;
    flex-direction:row;
    justify-content:center;
}

/*pete rating popup styling*/
/*pete modal styling*/
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background-image: url('../Images/background.png');
}
    #overlay div {
        width: 800px;
        margin: 100px auto;
        background-color: #fff;
        border: 1px solid #000;
        padding: 15px;
        text-align: center;
    }
