
@{
    ViewBag.Title = "Maps";
}


<!DOCTYPE html>
<html>
<head>
    <title>My map</title>
    <link rel='stylesheet' type='text/css' href='sdk/map.css' />
    <script src='sdk/tomtom.min.js'></script>
    <style>
        #map {
            height: 500px;
            width: 500px;
        }
    </style>
</head>
<body>
    <h2>Maps</h2>
    <div id='map'></div>
    <script>

        tomtom.L.map('map', { key: '7MHaIyzmWO124c9GU02OAGJPvcpyMtwo'});
    </script>
</body>
</html>
