@model ProviderAppver3.Chat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div class="col-xs-12 col-md-9 chat__body">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group chat__main"></ul>
            </div>
            <div class="chat__type__body">
                <div class="chat__type">
                    <textarea id="msg_box" placeholder="Type your message"></textarea>
                    <button class="btn btn-primary" id="sendMessage">Send</button>
                </div>
            </div>
            <div class="chat__typing">
                <span id="typerDisplay"></span>
            </div>
        </div>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
